@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 :root{
 	--red :#dc3545;
 }
 *{
 	font-family: 'Poppins', sans-serif;
 	box-sizing: border-box;
 	scroll-behavior: smooth!important;
 }

  #nav-top form{
  	/*position: relative;*/
  }
 #nav-top form input,
 #nav-top form input:active,
 #nav-top form button,
 #nav-top form select{
 	outline: none!important;
 	box-shadow: none;
 	padding: 5px;
 }
  #nav-top form input{
  	/*width: 80%;*/
  }
 #nav-top form button{
 	position: absolute;
 	right: 0;
 	top: 0;
 	background-color: var(--red);
 	height: 100%;
 	width: 50px;
 	border-radius: 0;
 }
 #nav-top ul li:nth-child(1) a{
 	padding: 8px 13px;
 	border-radius: 60px;
 	font-size: 12px;
 }
 #nav-top ul li:nth-child(2) a{
 	padding: 8px 12px;
 	border-radius: 60px;
 	font-size: 12px;
 }
 #nav-top ul li:nth-child(3) a{
 	padding: 8px 12px;
 	border-radius: 60px;
 	font-size: 12px;
 }
 
nav div ul li{
	padding: 0 12px;
	position: relative;
}

nav div ul li.active :before{
	border-bottom: 3px solid var(--red);
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	/*z-index: 999;*/

}
.cart{
	height: 100%;
	position:relative;
	right: 0;
	padding: 12px 14px;
	margin-top: -28px!important;
	/*margin-bottom: -5px!important*/
}
.cart:before{
	position: absolute;
	top: 0;
	left: -10px;
	content: "";
	/*height: 20px;
	width: 20px;*/
	/*background-color: blue;*/
	border-bottom: 5px solid var(--red);
	border-left: 5px solid transparent;
	border-right: 5px solid var(--red);
	border-top: 5px solid transparent; 
	filter: grayscale(20%);
}
.cart a{
	text-decoration: none;
	color: #fff;
}
#badge{
	position: relative;
	bottom: 15px;
	right: 12px;
	border-radius: 20px;
}
#headCarousel{
	position: relative;
}
#headCarousel .owl-carousel{
	position: relative;
	height: 100vh;
}
#headCarousel .owl-carousel .item{
	width: 100%;
	height: 100vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
#headCarousel .owl-carousel .item.slide-1{
	background-image: url("../img/women1.jpg");
}
#headCarousel .owl-carousel .item.slide-2{
	background-image: url("../img/women2.jpeg");
}
#headCarousel .owl-carousel .item.slide-3{
	background-image: url("../img/men1.jpeg");
}
#headCarousel .owl-carousel .slide-content{
	margin-right: -100px!important;
	position: relative;
	text-align: center;
	top: 50%;
	left: 20%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	opacity: 0;
	transition: all 2000ms ease-in-out;
}
#headCarousel .owl-carousel .owl-item.active .slide-content{
	opacity: 1;
	left: 5%;
}
#headCarousel .slide-content:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: -1;
}
#headCarousel .owl-carousel .owl-nav{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
#headCarousel .owl-carousel .owl-nav .owl-prev,
#headCarousel .owl-carousel .owl-nav .owl-next{
	background: var(--red);
	width: 30px;
	height: 30px;
	color: #fff;
	outline: none;
}
#headCarousel .owl-carousel .owl-dots{
	position: absolute;
	left: 20px;
	bottom: 10px;

}
#headCarousel .owl-carousel .owl-dots .owl-dot{
	outline: none;
}
#headCarousel .owl-carousel .owl-dots .owl-dot span{
	background-color: var(--red);
	filter: grayscale(50%);
}
#headCarousel .owl-carousel .owl-dots .owl-dot.active span{
	background-color: var(--red);
	filter: grayscale(0);
}


@media only screen and (max-width: 768px){
	nav div ul li.active :before{
		bottom: 3px;
	}
	.cart{
		margin-top: 0px!important;
	}
	.cart:before{
		display: none;
	}
}
@media only screen and (max-width: 576px){
	#headCarousel .owl-carousel .slide-content{
		width: 90%;
	}
}